/* Variables */

/* Primary Colors */

$purple: rgb(124, 93, 250); /* New invoice and mark as paid buttons */

$light-purple: rgb(
  146,
  119,
  255
); /* Hovering over new invoice and mark as paid buttons */

/* Font */

$font: rgb(12, 14, 22); /* All fonts */

/* Accents */

$light-purple-gray: rgb(223, 227, 250); /* Form buttons */

$dark-purple-gray: rgb(136, 142, 176); /* Hovering over form buttons */

$purple-gray: rgb(126, 136, 195); /* Form button font */

$dark-purple-gray: rgb(37, 41, 69); /* Dark mode buttons and form fields */

/* Errors */

$red: rgb(236, 87, 87); /* Delete button */

$light-red: rgb(255, 151, 151); /* Hovering over delete button */

/* Backgrounds */

$light-background: rgb(248, 248, 251);

$dark-background: rgb(20, 22, 37);
